#item{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    background: #25282d;
    border-radius: 40px 10px;
}

#item DIV {
    margin-top: 25px;
    text-align: left; /* Выравнивание по центру */
    vertical-align: top; /* Выравнивание по верхнему краю */
}

.photo{
    margin: 45px 25px 25px 25px;
    border-radius: 10px 10px;
}

.information{
    margin-left: 25px;
    margin-right: 25px;
}

.photo img{
    width: 100%;
}